<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Upload to Calibre</title>
</head>

<body>
        <div id="container">

                <!-- TOP HEADER SECTION -->

                <div id="top_bar">
                    <h1>Upload to Calibre</h1>
                </div>

                <div id="right_content">
                    <ul>
                        <li><a href="/upload/">Upload</a></li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                        <li><a href="/calibre/">Calibre</a></li>
                        <li><a href="/calibre/mobile/">Mobile Calibre</a></li>
                    </ul>
                </div>

                <div id="main_content">
                        {% block content %}{% endblock %}
                </div>

                <div id="footer">
                        <br/>
                        <p><i>"Oh! it is absurd to have a hard and fast rule about what one should read and what one shouldn't. More than half of modern culture depends on what one shouldn't read."</i> -- Oscar Wilde, The Importance of Being Earnest, 1895, Act I</p>
                </div>
        </div>  
</body>
</html>

